<div class="container-fluid">
  <div class="row">
    <div class="col">
      {{'footer.left_column' | translate}}
    </div>
    <div class="col-6">
      <div>{{ messageBoxContent | translate }}</div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let nav of footerNavigation" class="list-group-item">
          <a [routerLink]="nav.url" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">{{nav.context}}</a>
        </li>
      </ul>
    </div>
    <div class="col">
      {{'footer.right_column' | translate}}
    </div>
  </div>
</div>
